.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
coverage/
test-report.xml

# Node.js dependencies:
node_modules/
dist/

#VS code
.vscode/
nodemon.json
planning-school-key.json
