<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        {{#user}}
        <h1>Welcome {{email}}</h1>
        {{/user}}
        <ul>
            {{#schools}}
            <li>{{name}} - {{pseudo}}</li>
            {{/schools}}
        </ul>
        <a href='/logout'>Logout</a>
    </body>
</html>