<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="post">
            <div>
                <label> Driving school: </label>
                <select name="school">
                    {{#schools}}
                        <option value="{{pseudo}}">{{name}}</option>
                    {{/schools}}
                </select>
            </div>
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>